export PATH="$PATH:/snap/bin"
export PATH="$PATH:$HOME/.ghcup/bin"
export PATH="$PATH:$HOME/.local/bin"

. "$HOME/.cargo/env"
eval "$(starship init zsh)"

alias cmcd="chezmoi cd"


# fnm - fast node manager
FNM_PATH="$HOME/.local/share/fnm"
if [ -d "$FNM_PATH" ]; then
  export PATH="$HOME/.local/share/fnm:$PATH"
  eval "`fnm env`"
fi

function unlock_bw() {
  export BW_SESSION=$(bw unlock --raw)
}
