export PATH="$PATH:/snap/bin"
export PATH="$PATH:$HOME/.ghcup/bin"
export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:$HOME/.nix-profile/bin"

. "$HOME/.cargo/env"
eval "$(starship init zsh)"

alias cmcd="chezmoi cd"

# Helper for trying NeoHaskell CLI
alias neo="$HOME/Source/NeoHaskell/result/bin/neo"

# Better ls aliases
alias l="eza --icons"
alias ls="eza --icons"
alias ll="eza --icons --long"
alias la="eza --icons --long --all"
alias lt="eza --icons --recurse --tree --level=3"

# Better bat aliases
alias cat="batcat"

# fnm - fast node manager
FNM_PATH="$HOME/.local/share/fnm"
if [ -d "$FNM_PATH" ]; then
  export PATH="$HOME/.local/share/fnm:$PATH"
  eval "`fnm env`"
fi

function unlock_bw() {
  export BW_SESSION=$(bw unlock --raw)
}
