{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo apt update
sudo apt install -y{{ range .packages.ubuntu.apts }} {{ . }}{{ end }}
{{ range .packages.ubuntu.snaps -}}
command -v {{ .command }} >/dev/null 2>&1 || (sudo snap install {{ .name }} --classic)
{{ end -}}

{{ range .packages.ubuntu.curls -}}
command -v {{ .command }} >/dev/null 2>&1 || (curl -sS {{ .url }} | sh)
{{ end -}}

{{ range .packages.ubuntu.ppas -}}
command -v {{ .command }} >/dev/null 2>&1 || (sudo add-apt-repository {{ .url }} -y && sudo apt update && sudo apt install {{ .name }})
{{ end -}}

{{ end -}}
