{{ if eq .chezmoi.os "windows" -}}
{{ range .packages.windows.wingets -}}
winget install {{ . }}
{{ end -}}
{{ range .packages.windows.modules -}}
Install-Module -Name {{ . }} -Scope CurrentUser -Force
{{ end -}}
{{ end -}}
