{{ if eq .chezmoi.os "windows" -}}
{{ range .packages.windows.modules -}}
Import-Module {{ . }}
{{ end -}}

Clear-Host

$env:Path += ";C:\Users\nikit\AppData\Roaming\fnm\aliases\default"
fnm env --use-on-cd --shell powershell | Out-String | Invoke-Expression

Set-PSReadLineOption -EditMode Emacs

Invoke-Expression (&starship init powershell)
function cmcd { Set-Location $(chezmoi source-path) }
{{ end -}}
